.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    margin-top: 25px;
    outline: none;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5c9210;
    border: 2px solid #5c9210;
}

.Danger {
    color: #944317;
    border: 2px solid #944317;
}
